div.sign-in-container{
    max-width: 20em;
    margin-top: 5em;
}

div.sign-in-container p.invalid-text{
    color:red;
}

hr{
    border-top: 1px solid #bebebe;
}



div.ceo-home-main{
    text-align: center;
    max-width: 20em;
    border: 2px solid lavender;
    padding: 3em;
    background: aliceblue;
    border-radius: 2em;
}

div.ceo-home-main div{
    width:initial;
}


div.pId-main{
    border: 2px solid lavender;
    padding: 3em;
    background: aliceblue;
    border-radius: 2em;
}

.right-align{
    text-align: right;
}
.center-align{
    text-align: center;
}




div.salary-main{
    border: 2px solid lavender;
    padding: 3em;
    background: aliceblue;
    border-radius: 2em;
    max-width: 30em;
}

